<!DOCTYPE html>
<html lang="en">
<head>
    <title>클래스 상세설명</title>
    <meta charset="utf-8">
    <meta title="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../lib/animate/animate.min.css" rel="stylesheet">
    <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Main Stylesheet File -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/class_detail.css" rel="stylesheet">

    
    
</head>

<body>
    
    <div class="container_detail">
            <p class="content_id" style="display:none"><%=class_info.id%></p>
            <p class="groupTitle"><%=class_info.title%></p>
            <%
                var date =class_info.date.split(",");
                var time =class_info.time.split(",")
                
                var conditionList =[];
                var typeAry = ["C","C++","C#","Java","Ruby","Python","R","Go","HTML/CSS","Javascript","Spring","Nodejs","Angularjs","Vuejs","Reactjs","PHP","Android","IOS","Swift","Kotlin","Objective-C","MYSQL","MongoDB","SpringBoot","OracleDB","none"];
                
                for(var n =0;n<positions.length;n++){
                    var i=0;
                    var conditionAry =[];
                    for(var m=0;m<typeAry.length;m++){
                        if(positions[n][typeAry[m]] == 1){
                            if(typeAry[m]=="none"){
                                conditionAry[i]="무관";
                                i++;
                            }
                            else{
                                conditionAry[i]=typeAry[m];
                                i++;
                            }
                            
                            
                        };
                     }
                    conditionList[n] = conditionAry.toString();
                }
            %>
            <div class="divideWrap">
                <div class="divideBox" style="position:relative">
                    <p class="groupSubTitle">작성자</p>
                    <span class ="groupContent" id=groupcontent_id><%=class_info.author_id%></span>
                    <button class="profileBtn">프로필 보기</button>
                    <div class="profileContent">
                        <div style="text-align: center;border-bottom: 1px solid #dfaa32; margin-bottom: 10px;"><%=class_info.author_id%> 님의 프로필</div>
                        <div style="font-size:2rem;">
                            <table style="table-layout: auto;">
                            
                                <tr>
                                    <td>레벨</td>
                                    <td><img class="levelIcon" src=<%=author_info.level%>></td>
                                </tr>
                                <tr>
                                    <td>멘토활동 횟수</td>
                                    <td><%=author_info.mento%> 회</td>
                                </tr>
                                <tr>
                                    <td>멘티활동 횟수</td>
                                    <td><%=author_info.mentee%> 회</td>
                                </tr>
                                <tr>
                                    <td>스터디활동 횟수</td>
                                    <td><%=author_info.study%> 회</td>
                                </tr>
                            </table>
                        </div>
                        <div style="border-top: 1px solid #dfaa32; font-size:1.5rem; padding-top:8px;">
                            활동분야:
                            <%var index = ["C","C++","C#","Java","Ruby","Python","R","Go","HTML/CSS","Javascript","Spring","Nodejs","Angularjs","Vuejs","Reactjs","PHP","Andriod","IOS","Swift","Kotlin","Objective-c","MYSQL","MongoDB","SpringBoot","OracleDB"];
                            for(var i=0;i<index.length;i++){
                                if(author_info[index[i]]=='1'){
                                    %>
                                    <%=index[i]%>
                                <%}
                            }%>
                        </div>
                    </div>
                </div>
                <div class="divideBox">
                    <p class="groupSubTitle">작성자 역할</p>
                    <span class ="groupContent"><%=class_info.role%></span>
                </div>
            </div>
            <div class="middleLine"></div>
            <div class="divideWrap">
                <div class="divideBox">
                    <p class="groupSubTitle">클래스 시간</p>
                    <ul>
                        <% for (var m=0;m<date.length;m++){%>
                            <li class="groupContent">
                                <span class="date"><%=date[m]%> : </span><span class="time"><%=time[m]%></span>
                            </li>
                        <% } %>               
                    </ul>
                </div>
                <%
                    if(class_info.role =="멘토"){%>
                        <div class="divideBox">
                            <p class="groupSubTitle">필요 크레딧</p>
                            <span class ="groupContent"><img src="../img/coin.png" style="width:24px; height:24px">  <%=class_info.credit%></span>
                        </div>
                    <%}else{%>
                        <div class="divideBox">
                            <p class="groupSubTitle">획득 크레딧</p>
                            <span class ="groupContent"><img src="../img/coin.png" style="width:24px; height:24px">  <%=class_info.credit%></span>
                        </div>
                   <% }
                %>
                
            </div>
            <div class="middleLine"></div>
            <div class="divideWrap">
                <div class="fullBox">
                    <p class="groupSubTitle">상세 정보</p>
                    <div class="textBox">
                        <pre class="groupContent detailContent"><%=class_info.description%></pre>

                        <!-- <p class="groupContent detailContent"> <%=class_info.description%></p> -->
                    </div>
                </div>
            </div>
            <div class="middleLine">모집 인원</div>
            <div class="divideWrap" id="divideWrapForPC">
                <table>
                  
                        <tr>
                            <th id="hihi"></th>
                            <th style="width : 20%">필요 분야</th>
                            <th style="width : 40%">상세 역량</th>
                            <th>모집 인원</th>
                            <th>가능 여부<button class="fakeBtn">취소</button></th>
                        </tr>
          
                        <% 
                        for (var m=0;m<positions.length;m++){%>
                            <tr>
                                <th><%=m+1%>.</th>
                                <td class="condition"><%=conditionList[m]%></td>
                                <td><% if(positions[m].description==""){ %>
                                    <span>-</span>
                                    <%}else{%>
                                        <%=positions[m].description%>
                                    <%}%>
                                    </td>
                                <td class="totalNumber"><%=positions[m].number%> 명</td>
                                <% var checkbit=0;
                                   var conditionCheckBit=0;
        
                                %>
                                <%    
                                console.log("dfdf"+m);                                 
                                    var conditionCheck = [];
                                    conditionCheck = conditionList[m].split(",");
                                    for(var i=0;i<conditionCheck.length;i++){
                                        if (loginUser[conditionCheck[i]] ==1){
                                            checkbit=1;
                                        }else if(conditionCheck[i]=="무관"){
                                            checkbit=1;
                                        }else{ 
                                            checkbit=0;
                                            break;
                                        }
                                    }
                                    for(var h=0;h<participants.length;h++){
                                       console.log(participants[h]);
                                        if(participants[h].position_id == m){
                                            
                                            if(participants[h].participant_id==loginUser.id){
                                                checkbit=2;
                                            }
                                        }
                                    }
                                    
                                    if(class_info.credit>loginUser.credit){
                                        if(class_info.role=="멘토"){
                                            checkbit=0;
                                            conditionCheckBit=1;
                                        }
                                    }
                                  %>
                                <% if (checkbit ==1){%>
                                    <td><button class="partyBtn">신청 하기</button><button class="fakeBtn">취소</button></td>
                                <% }else if(checkbit==2){ %>
                                    <td><button class="completeBtn">신청 완료</button><button class="cancelBtn">취소</button></td>
                                <% }else{ %>
                                    <% if (conditionCheckBit ==0){%>
                                        <td><button class="partyBtnNot">조건 미충족</button><button class="fakeBtn">취소</button></td>
                                    <% }else{ %>
                                        <td><button class="partyBtnNot">크레딧 부족</button><button class="fakeBtn">취소</button></td>
                                
                                    <% } %>
                                <% } %>
                            </tr>
                        <% } %>   
                        

               
                    </table>
            </div>
            <div class="divideWrap" id="divideWrapForMOBILE">
                <table>
                   
                        <tr>
                            <td id = "hihi"></td>
                            <td>필요 분야</td>
                            <td id="tdbtn"></td>
                            <td>가능 여부<button class="fakeBtn">취소</button></td>
                        </tr>

                        <% for (var m=0;m<positions.length;m++){%>
                            <tr>
                                <td id = "hihi"><%=m+1%>.</td>
                                <td  class="condition"><%=conditionList[m]%></td>
                                <td id="tdbtn" ><button class ="mobilemoreinfo"><img class = "triangleBtn" src = "../img/triangle.png"></button></td>
                                
                                
                                <% var checkbit=0;
                                   var conditionCheckBit=0;
        
                                %>
                                <% 

                                    var conditionCheck = [];
                                    conditionCheck = conditionList[m].split(",");
                                    for(var i=0;i<conditionCheck.length;i++){
                                        if (loginUser[conditionCheck[i]] ==1){
                                            checkbit=1;
                                        }else if(conditionCheck[i]=="무관"){
                                            checkbit=1;
                                        }else{ 
                                            checkbit=0;
                                            break;
                                        }
                                    }
                                    for(var h=0;h<participants.length;h++){
                                        if(participants[h].position_id == m){
                                            if(participants[h].participant_id==loginUser.id){
                                                checkbit=2;
                                            }
                                        }
                                    }
                                    
                                    if(class_info.credit>loginUser.credit){
                                        if(class_info.role=="멘토"){
                                            checkbit=0;
                                            conditionCheckBit=1;
                                        }
                                    }
                                    
                                  %>
                                <% if (checkbit ==1){%>
                                    <td><button class="partyBtn">신청 하기</button><button class="fakeBtn">취소</button>
                                        
                                    </td>
                                <% }else if(checkbit==2){ %>
                                    <td><button class="completeBtn">신청 완료</button><button class="cancelBtn">취소</button></td>
                                <% }else{ %>
                                    <% if (conditionCheckBit ==0){%>
                                        <td><button class="partyBtnNot">조건 미충족</button><button class="fakeBtn">취소</button></td>
                                    <% }else{ %>
                                        <td><button class="partyBtnNot">크레딧 부족</button><button class="fakeBtn">취소</button></td>
                                
                                    <% } %>
                                <% } %>
                            </tr>
                            <tr class ="new_mobile_box">
                                <td id = "hihi" ></td>
                                
                                <td colspan="2" class = "new_mobile"><% if(positions[m].description==""){ %>
                                    <span>-</span>
                                    <%}else{%>
                                        <%=positions[m].description%>
                                    <%}%>
                                </td>
                                
                                
                                <td  class="totalNumber new_mobile">모집인원 : <%=positions[m].number%> 명</td>

                            
                            </tr>
                            
                           
                        <% } %>   
                        

                    
                    </table>
            </div>
            <%if(loginUser.id == class_info.author_id){%>
                <div class="footerBtnBox">
                    <button class="deleteBtn">삭제</button>
                </div>
            <%}%>
    </div>
    
    

</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   
    <script src="../js/main.js"></script>
    <script src="../js/class_detail.js"></script>
</html>
