<!DOCTYPE html>
<html lang="en">
<head>
    <title>클래스 상세설명</title>
    <meta charset="utf-8">
    <meta title="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../lib/animate/animate.min.css" rel="stylesheet">
    <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Main Stylesheet File -->
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/class_detail.css" rel="stylesheet">

    
    
</head>

<body>

            <div class="profileContent2">
                    <div style="text-align: center;border-bottom: 1px solid #dfaa32; margin-bottom: 10px;"><%=author_info.id%> 님의 프로필</div>
                    <div style="font-size:2rem;">
                        <table>
                        
                            <tr>
                                <td>이름</td>
                                <td><%=author_info.name%></td>
                                <td>레벨</td>
                                <td><img class="levelIcon" src=<%=author_info.level%>></td>
                            </tr>
                            <tr>
                                <td>이름</td>
                                <td><%=author_info.name%></td>
                                <td>멘토활동 횟수ㅇㅇㅇ</td>
                                <td><%=author_info.mento%></td>
                            </tr>
                            <tr>
                                <td>이름</td>
                                <td><%=author_info.name%></td>
                                <td>멘티활동 횟수</td>
                                <td><%=author_info.mentee%> 회</td>
                            </tr>
                            <tr>
                                <td>이름</td>
                                <td><%=author_info.name%></td>
                                <td>스터디활동 횟수</td>
                                <td><%=author_info.study%> 회</td>
                            </tr>
                        </table>
                    </div>
                    <div style="border-top: 1px solid #dfaa32; font-size:1.5rem; padding-top:8px;">
                        활동분야:
                        <%var index = ["C","C++","C#","Java","Ruby","Python","R","Go","HTML/CSS","Javascript","Spring","Nodejs","Angularjs","Vuejs","Reactjs","PHP","Andriod","IOS","Swift","Kotlin","Objective-c","MYSQL","MongoDB","SpringBoot","OracleDB"];
                        for(var i=0;i<index.length;i++){
                            if(author_info[index[i]]=='1'){
                                %>
                                <%=index[i]%>
                            <%}
                        }%>
                    </div>
                </div>
           
    
    

</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
   
    <script src="../js/main.js"></script>
    <script src="../js/class_detail.js"></script>
</html>
