<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ITUDY</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

  <!-- Favicons -->
  <link href="../img/favicon.png" rel="icon">
  <link href="../img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../lib/animate/animate.min.css" rel="stylesheet">
  <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">
  <link href="../css/header.css" rel="stylesheet">
  <link href="../css/footer.css" rel="stylesheet">
  <link href="../css/ranking.css" rel="stylesheet">


</head>

<body>

 
  <!--==========================
  Header
  ============================-->
  <div class="bannerBox"> 
    <div class="coverBox">
      <p class="bannerTitle">랭킹</p>
    </div>
  </div>
  <header id="header">
      <div class="logo mobile-logo"></div>
      <div class="headerContainer">
          <div class="logo pc-logo"></div>
          <nav class="main-nav d-none d-lg-block" >
              <ul>
                  <li><a href='/mypage' class="mypageLink"><span class="accoutName"><%= name %></span> 님 환영합니다.</a></li>
                  <li><a href="#credit"><img src="../../img/coin.png"> <span><%= credit %></span></a></li>
                  <li class="logoutBtn1"><a href='/logout'>Log Out</a></li>

              </ul>
              <ul class="centerBar">
                  <li><a href="/introduction">서비스 소개</a></li>
                  <li class="drop-down"><a href="/home">그룹 찾기</a>
                      <ul>
                          <li><a href="/class">클래스</a></li>
                          <li><a href="/study">스터디</a></li>

                      </ul>
                  </li>
                  <li><a href = "/ranking"> 랭킹 </a></li>
                  <li><a href = "/mypage"> 마이페이지 </a></li>

                  <li class="logoutBtn2"><a href='/logout'>Log Out</a></li>
              </ul>
          </nav>
      </div>
  </header><!-- #header -->


  <main>
    <section class="topBanner">


    </section>

    <section id="mainContainer">
      <div class = "bottombox">
          <div class ="rank_container">
              <div class = "wrapper">
                  <header>
                    <h1>Top 5</h1>
                  </header>
                  
                  <table>
                      <thead>
                        <tr>
                          <th>Rank</th>
                          <th>ID</th>
                          <th>CREDIT</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr id = "rank1">
                            <td class="rank" ><img src="../img/gold.png" class="rankimg"> </td>
                            <td class="team"><%= id1 %> </td>
                            <td class="points"><%= credit1 %></td>
                            
                          </tr>
                        <tr id = "rank2">
                            <td class="rank" ><img src="../img/silver.png" class="rankimg"></td>
                            <td class="team"><%= id2 %></td>
                            <td class="points"><%= credit2 %></td>
                            
                          </tr>
                          <tr id = "rank3">
                            <td class="rank"  ><img src="../img/bronze.png" class="rankimg"></td>
                            <td class="team"><%= id3 %> </td>
                            <td class="points"><%= credit3 %></td>
                            
                          </tr>
                          <tr>
                            <td class="rank"><img src="../img/four.png" class="rankimg"></td>
                            <td class="team"><%= id4 %> </td>
                            <td class="points"><%= credit4 %></td>
                            
                          </tr>
                          <tr>
                            <td class="rank"><img src="../img/five.png" class="rankimg"></td>
                            <td class="team"><%= id5 %> </td>
                            <td class="points"><%= credit5 %></td>
                            
                          </tr>
                          <tr>
                              <td ></td>
                              <td class="team"></td>
                              <td class="points"></td>
                              
                            </tr>
                          
                          <tr>
                            <td class="rank"><%= ranking %></td>
                            <td class="team"><%= id %></td>
                            <td class="points"><%= credit %></td>
                            
                          </tr>
                      </tbody>
                    </table>
                  </div>  
          </div>

          <div class="level_container">
            <div class = "wrapper" id ="level_wrapper">
                  <header>
                    <h1>칭호</h1>
                  </header>
                  
                  <table>
                      <thead>
                        <tr>
                          <th>아이콘</th>
                          <th>칭호</th>
                          <th>필요 CREDIT</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr id = "rank1">
                            <td class="rank" ><img src="../img/petabyte.png"></td>
                            <td class="team">페타바이트 </td>
                            <td class="points">10000</td>
                        </tr>
                        <tr id = "rank2">
                            <td class="rank" ><img src="../img/terabyte.png"></td>
                            <td class="team">테라바이트 </td>
                            <td class="points">6000</td>
                        </tr>
                        <tr id = "rank3">
                            <td class="rank" ><img src="../img/gigabyte.png"></td>
                            <td class="team">기가바이트</td>
                            <td class="points">3500</td>    
                        </tr>
                        <tr id = "rank4">
                            <td class="rank"><img src="../img/megabyte.png"></td>
                            <td class="team">메가바이트</td>
                            <td class="points">1500</td>
                            
                        </tr>
                        <tr>
                            <td class="rank"><img src="../img/byte.png"></td>
                            <td class="team">바이트 </td>
                            <td class="points">0</td>
                            
                        </tr>
                        
                        
                      </tbody>
                    </table>
              </div>
             
            </div>
      </div>
        
          
    </section>
      
  </main>
  <!-- FOOTER -->
  <footer>
      <div class="footer-bottom-area bg-dark-light section-padding-sm">
          <div class="footerBox">
              <div class="row widgets footer-widgets">
  
                  <div class="col-lg-3 col-md-6 col-12 footerCol">
                      <div class="single-widget widget-about">
                          <p class="serviceName">ITUDY</p>
                          <p>
                              ITUDY is a service that provides IT study.
                          </p>
                      </div>
                  </div>
  
                  <div class="col-lg-3 col-md-6 col-12 footerCol">
                      <div class="single-widget widget-quick-links">
                          <h5 class="widget-title">Site Map</h5>
                          <ul>
                              <li><a href="/introduction" style="color:#fff;">서비스 소개</a></li>
                              <li><a href="/class" style="color:#fff;">클래스 찾기</a></li>
                              <li><a href="/study" style="color:#fff;">스터디 찾기</a></li>
                              <li><a href="/ranking" style="color:#fff;">랭킹</a></li>
                              <li><a href="/mypage" style="color:#fff;">마이페이지</a></li>
                          </ul>
                      </div>
                  </div>
  
                  <div class="col-lg-3 col-md-6 col-12 footerCol">
                      <div class="single-widget widget-quick-links">
                          <h5 class="widget-title">Developers</h5>
                          <ul>
                              <li>Lee Eeun Chang</li>
                              <li>Yeo In Hyeok</li>
                              <li>Hwang Jae Wan</li>
                              <li>jipjung</li>
                              <li>hahaha</li>
                          </ul>
                      </div>
                  </div>
  
                  <div class="col-lg-3 col-md-6 col-12 footerCol">
                      <div class="single-widget widget-contact">
                          <h5 class="widget-title">Contact Us</h5>
                          <ul>
                              <li class="address">
                                  <span class="icon"><i class="fa fa-map-marker"></i></span>
                                  <p>집교동</p>
                              </li>
                              <li class="phone">
                                  <span class="icon"><i class="fa fa-phone"></i></span>
                                  <p>010 2222 2222</p>
                              </li>
                              <li class="email">
                                  <span class="icon"><i class="fa fa-envelope-o"></i></span>
                                  <p>wlqwndrydbr@gmail.com</p>
                              </li>
                          </ul>
                      </div>
                  </div>
  
              </div>
          </div>
      </div>
  </footer>
  

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>

  <script src="js/main.js"></script>
  <script src="js/header.js"></script>
  <script src="js/footer.js"></script>





</body>
</html>
